@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

.transition-all-elements {
  @apply transition-[width,font-size] duration-1000 ease-in-out;
}

body * {
  @apply transition-all-elements;
}

@layer utilities {
  .line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img.img-max-screen {
    max-width: 100vw;
  }
  /* hidden-scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .text-gold-on-hover {
    @apply transition-all duration-200 hover:text-gold-600;
  }

  /* text-styles */
  .h1-headline {
    @apply font-montserrat text-5xl font-medium;
  }
  .h1-headline-reg {
    @apply font-montserrat text-5xl font-normal;
  }
  .h2-headline {
    @apply font-montserrat text-4xl font-medium;
  }
  .h3-headline-sb {
    @apply font-montserrat text-3xl font-semibold;
  }
  .h3-headline-med {
    @apply font-montserrat text-3xl font-medium;
  }
  .h4-headline-sb-caps {
    @apply font-montserrat text-[1.75rem] font-semibold uppercase;
  }
  .h4-headline-sb {
    @apply font-montserrat text-[1.75rem] font-semibold;
  }
  .h4-headline-med {
    @apply font-montserrat text-[1.75rem] font-medium;
  }
  .h4-headline-reg {
    @apply font-montserrat text-[1.75rem] font-normal;
  }
  .h5-headline {
    @apply font-montserrat text-[1.375rem] font-medium;
  }
  .h5-headline-sb {
    @apply font-montserrat text-[1.375rem] font-semibold;
  }
  .h5-headline-caps {
    @apply font-montserrat text-[1.375rem] font-medium uppercase;
  }
  .h6-headline-reg {
    @apply font-montserrat text-xl font-normal;
  }
  .h6-headline-sb {
    @apply font-montserrat text-xl font-semibold;
  }
  .h6-headline-med {
    @apply font-montserrat text-xl font-medium;
  }
  .b1m-body-reg {
    @apply font-montserrat text-lg font-normal;
  }
  .b1m-body-med {
    @apply font-montserrat text-lg font-medium;
  }
  .b1m-body-sb {
    @apply font-montserrat text-lg font-semibold;
  }
  .b1m-body-med-caps {
    @apply font-montserrat text-lg font-medium uppercase;
  }
  .b2m-body-reg {
    @apply font-montserrat text-base font-normal;
  }
  .b2m-body-med {
    @apply font-montserrat text-base font-medium;
  }
  .b2m-body-sb {
    @apply font-montserrat text-base font-semibold;
  }
  .b3m-body-med {
    @apply font-montserrat text-sm font-medium;
  }
  .b3m-body-reg {
    @apply font-montserrat text-sm font-normal;
  }
  .b4m-body-reg {
    @apply font-montserrat text-xs font-normal;
  }
  .b4m-body-med {
    @apply font-montserrat text-xs font-medium;
  }
  .b5m-body-reg {
    @apply font-montserrat text-[0.625rem] font-normal;
  }
  .link {
    @apply font-montserrat text-xs font-normal underline;
  }
  .section-spacing {
    @apply mt-[100px] md:mt-[120px] lg:mt-[140px];
  }
}
/* google-maps override */
.gm-style {
  @apply font-montserrat;
}
